<h1><%=@tweet.user.username%></h1>
<p><%=@tweet.content%></p>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
  <input type="submit" id="submit" value="Delete Tweet">
</form>
